<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <% if user_signed_in? %>

          <%= button_to 'Sign out', destroy_user_session_path,  class: 'btn btn-secondary' , :method=>'delete' %>

      <% end %>
      </ul>
    </div>
  </div>
</nav>
